@model IEnumerable<SPPA_T3000.Process_Connection.LogicBlock>

@{
    ViewData["Title"] = "Components";
}

<h1>Components</h1>

<br />

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<br />

<h3>Total components found = @Model.Count()</h3>
<p style="color:blue">(NOTE: Displaying first 50 components only)</p>

@{
    int count = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                ID
            </th>
            <th>
                TypeName
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Take(50))
        {
            count++;

            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
